body > header .logo {
            margin-top: 8px;
            margin-right: 8px;
            max-height: 30px; }

        body > footer img {
            height: 18px;
            position: relative;
            top: 5px;
            left: 2px; }

        section.landing input {
            border-radius: 5px 0px 0px 5px !important;

        }

        section.landing button {
            border-radius: 0px 5px 5px 0px !important;}

